.git
.gitignore
Dockerfile*
docker-compose*
README.md
*.ipynb
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
*.log
venv/
.venv/
